<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>omj530</title>
    <link rel="stylesheet" href="css/style.css">
          </head>
          <body>

    <head>
	<link href='https://fonts.googleapis.com/css?family=Alegreya:400,700italic' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Teko:400,500' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="csslayout2.css">
</head>
<body>
    <div class="wrapper">
<header>
<h1>omj530<svg version="1.1" width="320" height="320" viewBox="0 0 320 320" fill="none" stroke="#000" stroke-linecap="round"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <path id="r1">
      <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin"/>
    </path>
    <path id="r2">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
    </path>
    <path id="r3">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
    </path>
    <path id="r4">
      <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
    </path>
    <path id="r5">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
    </path>
    <path id="r6">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
    </path>
  </defs>
  <use xlink:href="#r1"/>
  <use xlink:href="#r1" transform="rotate(60 160 160)"/>
  <use xlink:href="#r1" transform="rotate(120 160 160)"/>
  <use xlink:href="#r1" transform="rotate(180 160 160)"/>
  <use xlink:href="#r1" transform="rotate(240 160 160)"/>
  <use xlink:href="#r1" transform="rotate(300 160 160)"/>
  <use xlink:href="#r2" transform="rotate(30 160 160)"/>
  <use xlink:href="#r2" transform="rotate(90 160 160)"/>
  <use xlink:href="#r2" transform="rotate(150 160 160)"/>
  <use xlink:href="#r2" transform="rotate(210 160 160)"/>
  <use xlink:href="#r2" transform="rotate(270 160 160)"/>
  <use xlink:href="#r2" transform="rotate(330 160 160)"/>
  <use xlink:href="#r3"/>
  <use xlink:href="#r3" transform="rotate(60 160 160)"/>
  <use xlink:href="#r3" transform="rotate(120 160 160)"/>
  <use xlink:href="#r3" transform="rotate(180 160 160)"/>
  <use xlink:href="#r3" transform="rotate(240 160 160)"/>
  <use xlink:href="#r3" transform="rotate(300 160 160)"/>
  <use xlink:href="#r4" transform="rotate(30 160 160)"/>
  <use xlink:href="#r4" transform="rotate(90 160 160)"/>
  <use xlink:href="#r4" transform="rotate(150 160 160)"/>
  <use xlink:href="#r4" transform="rotate(210 160 160)"/>
  <use xlink:href="#r4" transform="rotate(270 160 160)"/>
  <use xlink:href="#r4" transform="rotate(330 160 160)"/>
  <use xlink:href="#r5"/>
  <use xlink:href="#r5" transform="rotate(60 160 160)"/>
  <use xlink:href="#r5" transform="rotate(120 160 160)"/>
  <use xlink:href="#r5" transform="rotate(180 160 160)"/>
  <use xlink:href="#r5" transform="rotate(240 160 160)"/>
  <use xlink:href="#r5" transform="rotate(300 160 160)"/>
  <use xlink:href="#r6" transform="rotate(30 160 160)"/>
  <use xlink:href="#r6" transform="rotate(90 160 160)"/>
  <use xlink:href="#r6" transform="rotate(150 160 160)"/>
  <use xlink:href="#r6" transform="rotate(210 160 160)"/>
  <use xlink:href="#r6" transform="rotate(270 160 160)"/>
  <use xlink:href="#r6" transform="rotate(330 160 160)"/>
</svg></h1>
</header>
  <div ng-app="tabs" class="uniq">
  <section ng-controller="PanelController as panel">
<ol class="tab-triggers">
      <li ng-class="{ active:panel.isSelected(1) }" ng-click="panel.selectTab(1)">Biografia</li>
      <li ng-class="{ active:panel.isSelected(2) }" ng-click="panel.selectTab(2)">Poema</li>
      <li ng-class="{ active:panel.isSelected(3) }" ng-click="panel.selectTab(3)">Glosario</li>
   </ol>
    <div class="dsp">
      <ul class="panel">
      <li class="panel" ng-show="panel.isSelected(1)">omj530 es mi marca personal,</br> esto significa que la construi para que me representara en el contexto digital,para responder la pregunta mas comun
cuando se quiere conocer algo ¿por que razón escoji ese nombre?
					</br>
decidi hacerlo para hacer referencia al objetivo general que se tiene al nombrar un proyecto y hacer algo diferente para que fuera su caracteristica principal el hecho que no hiciera referencia a algo en especifico envez de esto podria encontrarse escrito en cualquier cosa y se podria pensar que es su numero de serie.</li>	
							<li class="panel" ng-show="panel.isSelected(2)">¿Quién hace estos cambios? Disparo una flecha a la derecha Cae a la izquierda.Cabalgo tras de un venado y me encuentro perseguido por un cerdo. Conspiro para conseguir lo que quiero Y termino en la cárcel. Cavo fosas para atrapar a otros y me caigo en ellas. Debo sospechar de lo que quiero.</li>
<li class="panel" ng-show="panel.isSelected(3)">
	omj530 es una construcción que esta fundamentada en los siguientes conceptos de desarrollo de software y comunicación 
que estan relacionados con sus paginas en wikipedia</br>
	<a href="https://en.wikipedia.org/wiki/Personal_branding">personal branding</a>
	<br>
	<a href="https://en.wikipedia.org/wiki/MailChimp">mailchimp</a>
	<a href="https://en.wikipedia.org/wiki/Search_engine_optimization"><br>SEO(Search engine optimization)</a>
	<a href="https://en.wikipedia.org/wiki/Guerrilla_marketing"><br>Guerrilla marketing</a><br/>
	en un futuro voy a desarrollar los siguientes conceptos en su marco de trabajo
		<a href="https://en.wikipedia.org/wiki/A/B_testing"><br>A/B testing</a>
			<a href="https://en.wikipedia.org/wiki/Entrepreneurship"><br>Entrepreneurship</a>
	<a href="https://en.wikipedia.org/wiki/Growth_hacking"><br>Growth hacking</a>
	
    </ul>
					
 </section>
</div>
    <div id="demo" class="dsp">
   
    </div>

  ​
​​
<form action="https://docs.google.com/forms/d/1qcl9ClfY0TylpnzYQHZmIe_h62ggRP1RJndCj4bE1fo/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label id="dos" class="ss-q-item-label" for="entry_1480750027"><div id="dos" class="ss-q-title">¿cual es tu correo?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1480750027" value="" class="ss-q-short" id="entry_1480750027" dir="auto" aria-label="¿cual es tu correo? " aria-required="true" required="" title="">
<div class="error-message" id="1025948970_errorMessage"></div>
<div class="required-message">This is a required question</div>
<input type="hidden" name="draftResponse" value="[,,&quot;2820508878562849492&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fvv" value="0">
<input type="hidden" name="fbzx" value="2820508878562849492">
<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Enviar" id="ss-submit" class="jfk-button jfk-button-action ">
<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
</tr></tbody></table></div></ol></form>
        <footer>
<p id="year">2016</p>
                  </footer>
      </div> <!-- End of answer -->   

              </body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
